.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body  {
  background-color:rgb(38, 38, 46);
  font-family: "Helvetica";
  color: rgb(191, 205, 224);
  position:relative;
  min-width: 100vh;
  min-height: 100vh;
  overflow: hidden;

     }

.App-header  {
  font-family: "Courier";
  font-size:large;
  font-weight:bold;
  font-stretch:ultra-expanded;
  border-radius: 1px;
  text-align: right;
  color: #D64933;
  height: 55px;
  display: flex;
  align-items: center;
  border-color: aliceblue;
  border-bottom: groove;
  border-width: 5px;
  overflow: auto;
     }

.wave {
      animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s;        /* Change to speed up or slow down */
      animation-iteration-count: infinite;  /* Never stop waving :) */
      transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
      display: inline-block;
      }
 @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
      10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
      20% { transform: rotate(-8.0deg) }
      30% { transform: rotate(14.0deg) }
      40% { transform: rotate(-4.0deg) }
      50% { transform: rotate(10.0deg) }
      60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
      100% { transform: rotate( 0.0deg) }
      }

.left {
  float: left;
  width: 49%;
  overflow: hidden;
  padding-left: 10px;
     
      }

.right {
  width: 49%;
  overflow: hidden;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

footer {
  
  left: 10px;
  font-family: "Courier"; 
  position:relative;
  display: block;
  box-sizing: border-box;
}


.logo {
  width: 50px;
  height: 40px;
  margin-top: 3px;
  margin-left: 5px;
}


.wrapper {
  margin-top: 10px;
  position:relative;
  margin-bottom: 20px;
  overflow: auto;
  height: auto;


}

.chart {
  position: relative;
  bottom: 10px;
  min-height: 100%;
  min-width: 80%;
  align-items: bottom;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}